[DEFAULT]
CLIENT_ID: d33RDFL
CLIENT_SECRET: cb977c6bgrg443bbb
ACCESS_TOKEN: eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyM1I3R0wiLCJzdWIiOiJCRzVMNzciLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJzY29wZXMiOiJyc29jIHJzZXQgcm94eSBybnV0IHJwcm8gcnNsZSByYWN0IHJsb2MgcnJlcyByd2VpIHJociBydGVtIiwiZXhwIjoxNzAwMTcxMDY1LCJpYXQiOjE3MDAxNDIyNjV9.lj5pH-gmOxcH-_D7iNwNbvPzMxdfg
REFRESH_TOKEN: 55be64547198c6055e7982e05b13c762d57f7bab1af44ccdffff